.textarea-container {
    width: 100%;
    
}

.regular-sty {
    width: 100%;
    height: 215px;
    border-radius: 25px;
    border:none;
    padding: 0 10px 0 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    color: cadetblue;
    font-size: 14px;
    outline: none;
    
}

.regular-style::placeholder {
    font-size: 14px;
    color: gray;
    opacity: 0.8;
}

.textarea-error {
    border: 1px solid red;
    color: red;
    background:rgb(224, 204, 204);
    width: 100%;
    height: 35px;
    border-radius: 25px;
    padding: 0 10px 0 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 14px;
    outline: none;
}

.textarea-error::placeholder {
    color: red;
    font-size: 14px;
}