.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background: cadetblue;
}

.login-content {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    position: absolute;
}

.submit-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.submit-button {
    width: 90%;
    height: 40px;
    border-radius: 25px;
    border: none;
    outline: none;
    background: rgb(7,69,71);
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.submit-button:hover {
    opacity: 0.6;  
}

.label-error {
    font-size: 12px;
    color: red;
    background: rgb(224,204, 204);
    width: fit-content;
    height: fit-content;
    padding: 0 5px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 10px;
}

.label-alert {
    font-size: 14px;
    color: red;
    background: rgb(224,204, 204);
    /* width: fit-content;
    height: fit-content; */
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 10px;
}